<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Reserva</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Detalles de la reserva</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${reserva.id}"></dd>

            <dt class="col-sm-2">Número de Personas</dt>
            <dd class="col-sm-10" th:text="${reserva.numeroPersonas}"></dd>

            <dt class="col-sm-2">Fecha y Hora</dt>
            <dd class="col-sm-10" th:text="${#temporals.format(reserva.fechaHora, 'dd/MM/yyyy HH:mm')}"></dd>
        </dl>

        <a th:href="@{/reservas/edit/{id} (id=${reserva.id})}" class="btn btn-outline-info">Editar</a>
        <a th:href="@{/reservas}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
</body>
</html>
